
.background {
    background: none;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 0;

    @media only screen and (max-width: $width-lg) {
        opacity: 0.25;
    }

    @media only screen and (max-width: $width-sm) {
        opacity: 0.05;
    }

    .group {
        position: absolute;
        z-index: 1;

        &-1 {

        }

        &-3 {
            background-image: url('/img/group-3.png');
            background-repeat: no-repeat;
            height: 420px;
            right: 0;
            top: 0;
            width: 770px;
        }

        &-4 {
            background-image: url('/img/group-4.svg');
            background-repeat: no-repeat;
            height: 1685px;
            right: 0;
            top: 0;
            width: 774px;
        }

        &-6 {
            background-image: url('/img/group-6.png');
            background-repeat: no-repeat;
            height: 358px;
            left: 0;
            top: 1685px;
            width: 358px;
        }

        &-7 {
            background-image: url('/img/group-7.png');
            background-repeat: no-repeat;
            height: 508px;
            left: 0;
            top: 2840px;
            width: 1245px;

            @media only screen and (max-width: $width-sm) {
                display: none;
            }
        }

        &-8 {
            background-image: url('/img/group-6.svg');
            background-repeat: no-repeat;
            height: 421px;
            left: 0;
            top: 1125px;
            width: 275px;
        }
    }
}
