
.background {
    background: none;
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 0;

    @media only screen and (max-width: $width-lg) {
        opacity: 0.25;
    }

    @media only screen and (max-width: $width-sm) {
        opacity: 0.05;
    }

    .group {
        position: absolute;
        z-index: 1;

        &-1 {

        }

        &-3 {
            background-image: url('/img/landing_bg_1.svg');
            background-repeat: no-repeat;
            height: 1685px;
            right: 0;
            top: 0;
            width: 778px;
        }

        &-4 {
            background-image: url('/img/article_bg_1.svg');
            background-repeat: no-repeat;
            height: 420px;
            right: 0;
            top: 0;
            width: 770px;
        }

        &-6 {
            background-image: url('/img/landing_bg_3.svg');
            background-repeat: no-repeat;
            height: 508px;
            top: 2814px;
            width: 1245px;
            left: 0;
            right: 0;
            margin: auto;
        }

        &-7 {
            background-image: url('/img/landing_bg_2.svg');
            background-repeat: no-repeat;
            height: 358px;
            left: 0;
            top: 1555px;
            width: 358px;

            @media only screen and (max-width: $width-sm) {
                display: none;
            }
        }

        &-8 {
            background-image: url('/img/article_bg_2.svg');
            background-repeat: no-repeat;
            height: 421px;
            left: 0;
            bottom: -20%;
            width: 275px;
        }
    }
}
