
.articles {
    display: flex;
    flex: 1;
    flex-direction: row;

    @media only screen and (max-width: $width-sm) {
        flex-direction: column;
    }

    .article {
        height: 303px;
        width: 301px;
        padding: 37px 31px;
        border-radius: 10px;
        background-color: #E7EFEE;
        box-shadow: 0 7px 8px -4px rgba(0,0,0,0.2), 0 5px 22px 4px rgba(0,0,0,0.12), 0 12px 17px 2px rgba(0,0,0,0.14);

        &:first-child {
            margin-right: 30px;
        }

        &:last-child {
            margin-left: 30px;
        }

        @media only screen and (max-width: $width-sm) {
            margin-bottom: 5vh;
            width: 80vw;

            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-left: 0;
            }
        }

        .summary {
            height: 72px;
            width: 308px;
            color: #6B778D;
            font-family: Roboto;
            font-size: 18px;
            line-height: 24px;
            margin-top: 21px;
        }

        .title {
            height: 19px;
            width: 308px;
            color: #17223B;
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
            text-transform: uppercase;
        }
    }
}
