
button {
    background-color: $bg-color1;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.14);
    color: $fg-color2;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;

    $self: &;

    &, &:active, &:focus {
        outline: none;
    }

    &:hover {
        &.primary {
            background-color: $bg-color3;
        }
    }

    &.primary {
        background-color: $bg-color5;
        color: $fg-color0;
    }

    &.round {
        background-color: $blue;
        border-radius: 50%;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 3px 1px -2px rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.14);
        color: $fg-color0;
        height: 40px;
        margin: 0;
        padding: 0;
        width: 40px;

        i {
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            width: 40px;
        }
    }
}
