
.content {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;

    @media only screen and (max-width: $width-sm) {
        height: initial;
        position: relative;
        width: initial;
    }

    .section {
        //align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: $section-height;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        width: $width-full;

        @media only screen and (max-width: $width-md) {
            width: 100vw;
        }

        @media only screen and (max-width: $width-sm) {
            height: initial;
            padding: 5vh 5vw;
            width: 90vw;
        }

        &-1 {
            @media only screen and (max-width: $width-sm) {
                .hero {
                    width: 90vw;
                }
            }

            @media only screen and (min-width: $width-sm) {
                align-self: flex-start;

                .hero {
                    width: 570px;
                }
            }
        }

        &-2 {
            @media only screen and (max-width: $width-sm) {
                .hero {
                    width: 90vw;
                }
            }

            @media only screen and (min-width: $width-sm) {
                align-self: flex-start;

                .hero {
                    width: 570px;
                }
            }
        }

        &-3 {
            @media only screen and (max-width: $width-sm) {
                .hero {
                    width: 90vw;
                }
            }

            @media only screen and (min-width: $width-sm) {
                align-self: center;

                .slider .slide .hero {
                    width: 470px;
                }
            }
        }

        &-4 {
            flex-direction: row;

            @media only screen and (max-width: $width-sm) {
                .hero {
                    width: 90vw;
                }
            }

            @media only screen and (min-width: $width-sm) {
                align-self: center;
                text-align: center;

                .hero {
                    margin-top: 50%;
                    transform: translateY(-50%);
                    width: 570px;
                }
            }
        }

        &-5 {

        }
    }
}
