
$black: #000000;
$blue: #6792FF;
$white: #FFFFFF;

$bg-color0: #FFFFFF;
$bg-color1: #E7EFEE;
$bg-color2: #D1DBE3;
$bg-color3: #9DAFBD;
$bg-color4: #17223B;
$bg-color5: #14213A;

$fg-color0: #FFFFFF;
$fg-color1: #6B778D;
$fg-color2: #08131F;

$logo-height: 48px;
$logo-width: 48px;

$nav-height: 150px;

$section-height: 840px;

$width-md: 1024px;
$width-lg: 1200px;
$width-sm: 960px;
$width-full: $width-md;
