
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "variables";

body, html {
    background-color: $bg-color1;
    color: $fg-color2;
    display: block;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
}

#react-root {
    height: 100vh;
    width: 100vw;
}

a {
    &, &:active, &:hover, &:visited {
        color: $fg-color1;
        cursor: pointer;
        text-decoration: none;
    }
}

@import "background";
@import "footer";
@import "content";
@import "clickable";
@import "hero";
@import "navigation";
@import "slider";
